@use '../abstracts' as *;

.img-fluid {
	width: 100%;
	height: auto;
}

.sr-only {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.063rem;
	height: 0.063rem;
	padding: 0;
	margin: -0.063rem;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
	grid-area: none;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	padding: 4.563rem 2.188rem;

	@include breakpointMobile(48rem) {
		padding: 5.188rem 3.813rem 7.063rem 3.75rem;
	}

	@include breakpointMobile(80rem) {
		padding: 14.313rem 10.063rem 13.625rem 10.313rem;
	}
}
